

.sidebare{
    background-color: #1B2265;
    display: flex;
      flex-direction: column;
    width: 15%;
  
  }
  
  .logo{
      margin-left: 40px;
      margin-top: 14px;
  }
  
  
  
  
  
  
      